laravel-task-manager/vendor/
laravel-task-manager/node_modules/
laravel-task-manager-front/node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
laravel-task-manager/bootstrap/compiled.php
laravel-task-manager/app/storage/

# Laravel 5 & Lumen specific
laravel-task-manager/public/storage
laravel-task-manager/public/hot

# Laravel 5 & Lumen specific with changed public path
laravel-task-manager/public_html/storage
laravel-task-manager/public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
